html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em 'Red Hat Text';
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Red Hat Text';
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  padding: 0 24px;
  max-width: 1380px;
  margin: 0 auto;
}

button {
  font-weight: 600;
  border-color: #e8c81d;
  background: #e8c81d;
  color: #000000;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  border-width: 2px;
  padding: 0.75rem 1.6rem;
  font-size: 1rem;
}
h1 {
  font-family: 'Red Hat Display';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  font-family: 'Red Hat Display';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  font-family: 'Red Hat Display';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  font-family: 'Red Hat Display';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

@media (max-width: 600px) {
  body {
    padding: 0 8px;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1;
  }
  h3 {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.1;
  }
  h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
  }
}